<!doctype html>
<html dir="{{ artwork.dir|default('ltr') }}" lang="{{ artwork.lang|default('lang') }}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="follow, noarchive, noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ artwork.title }}</title>
    {%- if artist.url and artist.name %}
        <link rel="author" href="{{ artist.url }}" title="{{ artist.name }}">
    {%- elseif artist.url %}
        <link rel="author" href="{{ artist.url }}" title="{{ artist.name }}">
    {%- elseif artist.name %}
        <meta name="author" content="{{ artist.name }}">
    {%- endif %}
    {%- if block('style') is defined %}
        <style>
            {% block style %}{% endblock %}
        </style>
    {% endif -%}
    {%- if gtm %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtm }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ gtm }}');
        </script>
    {%- endif %}
</head>
<body id="top">
{% block body %}
{% endblock %}
</body>
</html>